/*Signage 3 slide*/
/*header*/
/*time, date*/

body {
    margin: 0px;
    padding: 0px;
}

/*header*/
/*time, date*/
.page3_header{
    display: inline-block;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-color: black;
    color: white;
    height: 35rem;
    width: 2160px;
}
html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    margin: 0px;
    padding: 0px;
}
.page3_date{
    font-size: 7.5rem;
}
.wp-block-cb-carousel.cb-single-slide.alignfull .slick-slide {
    padding-left: 0;
    padding-right: 0;
}
.page3_time{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 12rem;
}

/*맨 맽에 버튼을 포괄적으로 감싸고있는*/
.social{
    position: relative;
    display: grid;
    width: 2160px !important;
    height: 25%;
    font-family: 'yg-jalnan';
    background-color: black;
    color: white;
    font-size: 9rem;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    text-align: center;
}

.vertical {
    margin-top: 120px;
    border-left: 2px solid darkgrey;
    height: 70%;
}

.QR > img
{
    width: 70%;
    height: 70%;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

