/*Signage 3 slide*/

/*header*/
/*time, date*/
.page3_header{
    display: inline-block;
    padding-top: 2em;
    background-color: black;
    color: white;
    height: 13rem;
    width: 100%;
}

.page3_date{
    font-size: 2.5rem;
}

.page3_time{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 4.3rem;
}

/*contents*/

.slide_list {
    position: relative;
    width: 100%;
    height: 60vh;
    object-fit: scale-down;
    -webkit-overflow-scrolling: touch;
    background-color: black;
}

.iframe100 {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    pointer-events: none;
    border: none;
    overflow: hidden;
}

.iframe100 > video img{
    padding-top: 56.25%;
}

/*social footer*/
/*하단에 버튼 옆옆 라인*/
.line {
    border-left: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
}

.social > p{
    top: 50%;
    bottom: 60%;
    padding: 13%;
}

/*맨 맽에 버튼을 포괄적으로 감싸고있는*/
.social{
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    width: 100%;
    font-family: 'yg-jalnan';
    background-color: black;
    color: white;
    font-size: 4.1rem;
    /*text-align: center;*/
    height: 27%;
    grid-template-columns: 1fr 1fr 1fr;
}

/*hotpink button*/
.social button{
    background-color: deeppink;
    width: 12rem;
    height: 5rem;
    font-size: 4rem;
    font-weight: bold;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.button_div {
    display: grid;
    grid-template-rows: 1fr 0.2rem 1fr;
}


.QR > img
{
    width: 80%;
    height: 80%;
}

.font {
    font-family: 'yg-jalnan';
    text-shadow: 2px 2px 0 #727272;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}