/*Signage 3 slide*/

/*header*/
/*time, date*/
.page3_header{
    display: inline-block;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-color: black;
    color: white;
    height: 35rem;
    width: 100%;
    border: none;
}

.page3_date{
    font-size: 7.5rem;
}

.page3_time{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 12rem;
}

/*contents*/
.slide_list {
    text-align:center;
    width: 2040px;
    height: 1919px;
    background-color: black;
}

.slide_list > img {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slide_list > video {
    display: grid;
    place-items: center;
    height: 80%;
    width: 100%;
    pointer-events: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*하단에 버튼 옆옆 라인*/
.line {
    border-left: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
}

/*맨 맽에 버튼을 포괄적으로 감싸고있는*/
.social{
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    width: 100%;
    font-family: 'yg-jalnan';
    background-color: black;
    color: white;
    font-size: 9rem;
    /*text-align: center;*/
    height: 30%;
    grid-template-columns: 1fr 1fr 1fr;
}

/*hotpink button*/
.social > tr > p > button{
    margin-top: 10%;
    background-color: deeppink;
    width: 25rem;
    height: 10rem;
    font-size: 7rem;
    font-weight: bold;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.social > tr{
    margin-top: 15%;
}

.QR > img
{
    width: 60%;
    height: 60%;
}

.font {
    font-family: 'yg-jalnan';
    text-shadow: 2px 2px 0 #727272;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}